extends layouts/main.pug

block content
  .row
    .col-md-8.mx-auto.text-center
      h1.display-4 🚀 Welcome!
      p.lead This is my first Fastify application with Pug templates
      hr.my-4
      p Here you can:
      .row
        .col-md-4
          .card.mb-3
            .card-body
              h5.card-title 👥 Users
              p.card-text Manage users: view, create, edit, delete
              .d-grid
                a.btn.btn-primary(href=routes.usersPath()) 📋 View All Users
              .d-grid.mt-2
                a.btn.btn-success.btn-sm(href=routes.newUserPath()) ➕ Add New User
        .col-md-4
          .card.mb-3
            .card-body
              h5.card-title 📚 Courses
              p.card-text Manage courses: view, create, edit, delete
              .d-grid
                a.btn.btn-warning(href=routes.coursesPath()) 📋 View All Courses
              .d-grid.mt-2
                a.btn.btn-success.btn-sm(href=routes.newCoursePath()) ➕ Add New Course
        .col-md-4
          .card.mb-3
            .card-body
              h5.card-title 👋 Greeting
              p.card-text Personal greeting service
              .d-grid
                a.btn.btn-info(href=routes.helloPath()) 👋 Say Hello