extends ../layouts/main.pug

block content
  .row
    .col-12
      .d-flex.justify-content-between.align-items-center.mb-4
        h1 👥 User List
        a.btn.btn-success(href=routes.newUserPath()) ➕ Add User
      
      if users.length === 0
        .alert.alert-info
          | No users yet. 
          a(href=routes.newUserPath()) Add the first one!
      else
        .row
          each user in users
            .col-md-6.mb-3
              .card
                .card-body
                  h5.card-title 👤 #{user.name}
                  p.card-text
                    strong Email: 
                    | #{user.email}
                  p.card-text
                    small.text-muted ID: #{user.id}